body{
    width:100%;align-items:center;
    line-height:1.25;
    font-family:Hind,sans-serif;
    display:flex;
flex-direction:column;
    background:#}
body,p{margin:0;padding:0}
.wrapper{margin:3em auto;max-width:960px}
.main-intro,.twitter,.wrapper,footer{padding:0 1em}
.main-intro h2{font-weight:300;font-size:1.25em;color:#708090}
.projects{display:flex;flex-wrap:wrap;margin:auto}
.projects a{display:flex;flex-direction:column;justify-content:space-evenly;align-items:center;flex:1 1 30%;height:160px;text-align:center;padding:2em;margin:1.2em;border-radius:.5em;transition:transform .5s;background:#fff;text-decoration:none;color:#000}
.projects a svg{width:4em}
.projects a p{font-size:1em;font-weight:500;backface-visibility:hidden}
.twitter svg{margin:2em 0}
.node svg{fill:#393}
.dribbble svg{fill:#ea4c89}
.insta svg{fill:#e4405f}
.git svg{fill:#181717}
.linkedin svg{fill:#0077b5}
footer{margin-top:2em;color:#708090}
footer a{color:#000}.love{color:red;margin:0 .25em}
@media (min-width:960px){.main-intro
h2{font-size:2em}
    .projects a:hover{transform:scale(1.1)}
}
@media (prefers-color-scheme:dark){body{background:#000}
    .projects a{background:#222;color:#708090}
    .insta svg,
    .linkedin svg{fill:#708090}footer a{color:#fff}}